@import "../omarchy/current/theme/waybar.css";

* {
  background-color: transparent;
  color: @foreground;

  border: none;
  border-radius: 0;
  min-height: 0;
  font-family: 'JetBrainsMono Nerd Font Mono';
  font-size: 12px;
}

.modules-left {
  background-color: @module-background;
  margin-left: 8px;
  padding: 0 8px;
  border-radius: 8px;
}

.modules-center {
  background-color: @module-background;
  padding: 0 8px;
  border-radius: 8px;
}

.modules-right {
  background-color: @module-background;
  margin-right: 8px;
  padding: 0 8px;
  border-radius: 8px;
}

#workspaces button {
  all: initial;
  padding: 0 6px;
  margin: 0 1.5px;
  min-width: 9px;
}

#workspaces button.empty {
  opacity: 0.5;
}

#cpu,
#pulseaudio,
#custom-omarchy,
#network,
#custom-update,
#custom-screenrecording-indicator {
  font-size: 16px;
  margin: 0 5px;
  color: @icon-color;
}

#battery,
#bluetooth {
  font-size: 14px;
  margin: 0 5px;
  color: @icon-color;
}

#clock {
  margin: 0 8px;
}

#custom-expand-icon {
  margin: 0 8px;
}

#tray {
  margin-right: 8px;
}

tooltip {
  padding: 2px;
}

.hidden {
  opacity: 0;
}

#custom-screenrecording-indicator.active {
  color: @indicator-active;
}
