configuration {
    modi: "drun,run,window";
    show-icons: true;
    terminal: "ghostty";
    drun-display-format: "{icon} {name}";
    location: 0;
    disable-history: false;
    hide-scrollbar: true;
    display-drun: "  Apps";
    display-run: "  Run";
    display-window: "  Window";
    sidebar-mode: true;
}

* {
    /* Rose Pine Theme Colors */
    bg-col:  #191724;
    bg-col-light: #1f1d2e;
    border-col: #31748f;
    selected-col: #1f1d2e;
    blue: #9ccfd8;
    fg-col: #e0def4;
    fg-col2: #eb6f92;
    grey: #6e6a86;
    rose: #ebbcba;
    gold: #f6c177;

    width: 600;
    font: "JetBrainsMono Nerd Font 12";
}

element-text, element-icon , mode-switcher {
    background-color: inherit;
    text-color:       inherit;
}

window {
    height: 500px;
    border: 3px;
    border-color: @border-col;
    background-color: @bg-col;
    border-radius: 10px;
}

mainbox {
    background-color: @bg-col;
}

inputbar {
    children: [prompt,entry];
    background-color: @bg-col;
    border-radius: 5px;
    padding: 2px;
}

prompt {
    background-color: @blue;
    padding: 10px;
    text-color: @bg-col;
    border-radius: 5px;
    margin: 10px 0px 10px 10px;
}

textbox-prompt-colon {
    expand: false;
    str: ":";
}

entry {
    padding: 10px;
    margin: 10px 10px 10px 5px;
    text-color: @fg-col;
    background-color: @bg-col;
}

listview {
    border: 0px 0px 0px;
    padding: 6px 0px 0px;
    margin: 10px 10px 0px 10px;
    columns: 1;
    lines: 8;
    background-color: @bg-col;
}

element {
    padding: 8px;
    background-color: @bg-col;
    text-color: @fg-col;
    border-radius: 5px;
}

element-icon {
    size: 25px;
}

element selected {
    background-color: @selected-col;
    text-color: @rose;
}

mode-switcher {
    spacing: 0;
}

button {
    padding: 10px;
    background-color: @bg-col-light;
    text-color: @grey;
    vertical-align: 0.5;
    horizontal-align: 0.5;
}

button selected {
    background-color: @bg-col;
    text-color: @blue;
}

message {
    background-color: @bg-col-light;
    margin: 2px;
    padding: 2px;
    border-radius: 5px;
}

textbox {
    padding: 6px;
    margin: 20px 0px 0px 20px;
    text-color: @blue;
    background-color: @bg-col-light;
}
